.container {
    background-color: #1993b5;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-top: 2%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.heading {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.headinName {
    margin-top: 28%;
    margin-left: 10%;
    line-height: 250%;
    color: white;
}

.headinName p {
    border-top: white solid;
    width: 60%;
    letter-spacing: 2px;
    padding-top: 3%;
}

.buttonHome {
    margin-left: 10%;
}



.container-form {
    position: relative;
    /* display: inline-block; */
    animation: slide-head 3s forwards;
    /* border: none; */

}

@keyframes slide-head {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.form-inside {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -30rem;
    top: 250px;

}

.form-border {
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
    text-align: left;
    border: none;

}

.form-text {
    display: flex;
    justify-content: center;
    color: #1993b5;
    font-weight: bold;
    font-size: 1.875rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.box {
    padding-left: 18px;
    padding-right: 30px;
    padding-top: 1.25rem
        /* 20px */
    ;
    padding-bottom: 1.25rem
        /* 20px */
    ;
}

.inputA {
    border-width: 1px;
    border-style: solid;
    border-radius: 0.375rem;
    width: 100%;
    height: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.25rem;
    font-weight: 300;
    font-size: 0.875rem;
}

.inputA:focus {
    border: #1993b5 solid 2px;
    /* You can adjust the color code as needed */

    outline: none;
}

.inputA:hover {
    outline: none;
}

.input-box {
    display: flex;
    justify-content: center;
}

.input-box1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-box {
    display: flex;
    justify-content: center;

}

.btn {

    background-color: #1993b5;
    color: #fff;
    width: 14rem;
    height: 3rem;
    margin-top: 3rem;
    border-radius: 10px;
    font-size: 0.875rem;
    border: none;
}

.btn:hover {
    opacity: 0.6;
}

/* ========================================= */
@media screen and (max-width: 800px) {
    .main {
      flex-direction: column-reverse;
    }
    .homeImage{
        width: 99%;
    }
    .headinName h2{
        font-size: smaller;
    }
    .headinName p{
        font-size: smaller;
        width: 100%;
    }
    .heading{
        width: 80%;
    }
    .form-inside{
        margin-top: -25rem;
        margin-left: 4%;
        margin-right: 4%;
    }
    .container{
        padding-bottom: 30%;
    }
    .form-text{
        font-size: small;
    }
  }