.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 8px, rgba(2, 155, 232, 0.267) 0px 0px 0px;
    /* padding: 1%; */
    padding-left: 5%;
}
.navbar h1{
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    /* margin-right: 5%; */
    width:50%;
    margin-left: 25%;
}
.homeT{
    margin-left: 5%;
    font-weight: bold;
    margin-top: 2%;
    cursor: pointer;
}
.homeTsm{
    font-weight: bold;
    margin-top: 2%;
    cursor: pointer;
    text-align: left;
    margin-left: 15%;
}
.buttonNav{
    margin-top: 1%;
    font-weight: 400;
    color: white;
    /* padding-top: 5px; */
}
.TopIcon{
    font-size: xx-large;
    color: black;
    position: fixed;
    top: 90%;
    right: 1%;
    z-index: 2;
    cursor: pointer;
    padding: 1px;
    background-color: none;
    border-radius: 20px;
    height: 1px;
}
.menuBTN{
    background-color: white;
    border-color: #1993b5;
    border: none;
    border-radius: 3px;
    color: #1993b5;
    font-size: large;
    padding-top: 2%;
}
.headerSM{
    margin-top: 4%;
    font-size: small;
    display: none;

}
.menuIcon{
    padding-top: 4px;
    font-size: xx-large;
}
.sideDrawer{
    position: absolute;
    background-color: white;
    /* height: 50%; */
    /* padding-right: 10%; */
    right: 0%;
    width: 100%;
}
.bookSM{
    background-color: #1993b5;
    margin: 5%;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 40%;
}
.smBTN{
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    color: white;
    font-size: small;
}
/* ========================================= */
@media screen and (max-width: 800px) {
    .headerSM{
        display: block;
    }
    .header{
        display: none;
    }
    .BookNav{
        margin: 1%;
    }
    
  }