.slotCnt{
    /* margin-right: 15%; */
    margin-left: 25%;
    width: 40%;
    background-color: white;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
    padding: 2%;
    margin-top: 5%;
}
.text-book{
    display: flex;
    justify-content: center;
    color: #1993b5;
    font-weight: bold;
    font-size: 1.875rem;
   
   
}
.time-slot{
    display: inline;
   align-items: center;
}
.inputS{
    /* border-width: 1px;
    border-style:  solid; */
    /* border-color: gray; */
    border: none;
    border-radius: 0.375rem;
    background-color: rgba(3, 20, 53, 0.127);
    width: 70%;
    height: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.25rem;
    font-weight: 300;
    font-size: 0.875rem;
    margin-bottom: 3%;
}
.slotInp{
    flex-direction: row;
    display: flex;
}
.inputS:focus {
    border: #5a67d8 solid 2px;
    /* You can adjust the color code as needed */
    outline: none;
}
.calender{
    border: gray solid 1px;
    border-radius: 0.375rem;
    /* background-color: rgba(3, 20, 53, 0.127); */
    width: 90%;
    height: 0.15rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2%;
    font-weight: 300;
    font-size: 15px;
}
.calender:focus{
    border: #5a67d8 solid 2px;
    /* You can adjust the color code as needed */
    outline: none;
}
.caleicon{
    /* margin-top: 1%; */
    font-size: 33px;
    color: #1993b5;
}
.timeSlot{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-top: 5%;
    justify-content: space-around;
}
.timeDiv{
    /* margin-left: 5%; */
    margin-bottom: 20%;
    display: flex;
    flex-direction: row;
}
.timeicon{
    font-size: 25px;
    margin-top: 7%;
    right: 10%;
    position: relative;
}
.timeBTN{
    border: none;
    border-radius: 5px;
    background-color: #1993b5;
    color: white;
    cursor: pointer;
    /* width: 115px; */
}

.btn-box {
    display: flex;
    justify-content: center;

}

.btn {

    background-color: white;
    color: #1993b5;
    width: 14rem;
    height: 2.5rem;
    margin-top: 3rem;
    border-radius: 7px;
    font-size: 0.875rem;
    border: #1993b5 solid 1px;
    cursor: pointer;
    transition:  0.4s ease;
}

.btn:hover {
    opacity: 5;
    background-color: #1993b5;
    color: white;
    border: white solid 1px;
}